html {
    font-size: 1rem
}

body,
html {
    height: 100%
}

body a,
body div,
body p {
    /* xc_E2_Contrast ratio: change the color of text */
    color: #4b6660;
}

body a:hover {
    /* xc_E2_Contrast ratio: change the hover color of <a> tag */
    color: #4b8a7d;
}

/* xc_E3_Skip links: skip to main content or footer */
.skip-link {
    position: absolute;
    left: -9999px;
    z-index: 999;
    padding: 1em;
    background-color: black;
    color: white;
    opacity: 0;
}

.skip-link:focus {
    left: 50%;
    transform: translateX(-50%);
    opacity: 1;
}

.title {
    font-size: 2rem;
    font-weight: 100
}

.subtitle {
    font-size: 1.2rem
}

.header .logo {
    height: 3.5rem;
    width: 3.5rem
}

.header .title {
    font-size: 1.5rem;
    line-height: 1.8rem;
    /* xc_E2_Contrast ratio: change the color of website title */
    color: #4b6660;
}

.header .font-increase-button,
.nav .font-increase-button {
    font-size: .8rem
}

.header .font-decrease-button,
.nav .font-decrease-button {
    font-size: .6rem
}

/* xc: add arrow or chevron icons to make the link more apparent */
.material-icons {
    font-size: 20px;
    vertical-align: middle;
}

/* xc_E2_Contrast ratio: change the color of article description in News&Events */
.article-info {
    color: #6E706F;
}

.footer,
.header,
.nav {
    flex: 0 0 auto
}

.main {
    flex: 1 0 auto
}
